<div class="questions-list">
<li><%= text_style.body %></li>
</div>

<div class="question-form">
<%= form.fields_for :answers do |answer_attributes| %>
  <%= answer_attributes.text_field :body %>
<%= answer_attributes.text_field :question_id, :type => "hidden", value: question.id %>
    <% end %>
  </div>
