<h2><%= @survey.name %></h2>

<%= form_for [@survey, @response] do |form| %>
  <% @survey.questions.each do |question| %>
    <%= render question.style, survey: @survey, form: form, question: question %>
  <% end %>
  <%= form.submit %>
<% end %>
