<h2><%= "Response #{@response.id}" %></h2>

<ul>
  <% @response.answers.each do |answer| %>
    <li><%= answer.question.style.body %></li>
  <ul>
    <li><%= answer.display %></li>
  </ul>
  <% end %>
</ul>
