<div class="survey-top">
  <h2><%= "Response #{@response.id}" %></h2>

  <ul>
    <% @response.answers.each do |answer| %>
      <br />
    <li><span class="answer"><%= answer.question.style.body %></span></li>
    <ul>
      <li><%= answer.display %></li>
    </ul>
  <% end %>
  </ul>
</div>
