<div class="survey-top">
  <h2>Review your surveys or <%= link_to "create a new one", new_survey_path, id:"create-button" %></h2>
  <div class="survey-list">
    <ul>
      <%= render "refills/tables_minimal", surveys: @surveys %>
    </ul>
  </div>
</div>
