<footer class="footer-2">
  <div class="footer-logo">
    <img src="/cat.png" alt="">
  </div>
    <ul>
      <li><a href="https://rocky-journey-6342.herokuapp.com">Matt Kiernan</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="https://rocky-journey-6342.herokuapp.com/about">Contact</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="http://github.com/mattkiernan">
          <img src="/github.png" alt="">
          </a></li>
        <li><a href="http://www.twitter.com/mattkiernan">
          <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/twitter-logo-circle.png" alt="">
        </a></li>
        <li><a href="https://www.linkedin.com/in/mattkiernan">
          <img src="/linkedin.png" alt="">
        </a></li>
      </ul>
    </div>
</footer>
