<hr>
<div class="bullets">
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="/create.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Build Surveys</h2>
      <p>Create both text-based and multi-choice questions.</p>
      </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="/mail.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Send to Friends</h2>
      <p>Send your survey link to recipients with a simple link.</p>
    </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="/graph.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Collect Results</h2>
      <p>Review individual survey results in real-time.</p>
    </div>
  </div>
</div>
