<table class="table-minimal">
  <thead>
    <tr>
      <th>Edit Survey</th>
      <th>View Results</th>
      <th>Send Survey</th>
      <th>Delete Survey</th>
    </tr>
  </thead>
  <tbody>
  <%= render surveys %>
  </tbody>
</table>
